Pods/Pods.xcodeproj/xcuserdata/zhangzhenghong.xcuserdatad/xcschemes/xcschememanagement.plist
SDCycleScrollView.xcodeproj/xcuserdata/zhangzhenghong.xcuserdatad/xcschemes/xcschememanagement.plist
SDCycleScrollView.xcworkspace/xcuserdata/zhangzhenghong.xcuserdatad/UserInterfaceState.xcuserstate
